@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:rgb(255, 210, 0);
    font-family: 'Orbitron', sans-serif;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    background: linear-gradient(110deg,rgb(255, 210, 0),rgb(0, 0, 0)30%,rgba(255,210,0)85%);
}

header {
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 210, 0);
    padding: 2px;
    border-radius: 5px;  
    border-style: solid;
    border-width: 1px;
    border-color: black;
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 1);
    display: none;
}

h1 {
    text-transform: uppercase;
    display: inline; 
}

header h1 p {
    display: inline-block;
    background-color: rgb(255, 210, 0);
    padding: 3px;
}


.best {
    background-color: black;
    font-family: 'Audiowide', cursive;
    border-radius: 5px 0 0 5px;
    color: #fff;
    padding: 5px;
    border-style: groove;
    border-width: 2px 0px 2px 2px;
}

.service {
    font-family: 'Goldman', cursive;
    color: black;
    text-shadow: 3px -2px 3px rgb(255, 255, 255);
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    margin-top: 2vh;
}

.logo>img {
    border: none;
    width: 80%;
}

.burgerbars {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 15vh;
    right: 7%;
    z-index: 3;
    transition: 0.5s;
    border: 3px double #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 7.5px;
    overflow: hidden;
  }
  
  .bar {
    display: block;
    width: 26px;
    height: 5px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 210, 0);
    border-radius: 5px;
  }

  
  .burgerbars.active .bar:nth-child(2) {
    transform: translateX(-300%);
  }
 
  .burgerbars.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(135deg);
  }
  
  .burgerbars.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-135deg);
  }


nav {
    position: fixed;
    z-index: 4;
    display: block;
    text-align: center;
    max-width: 90vw;
    right: -45vw;
    top: 25vh;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.85);
    border-color: #fff;
    border-style: solid;
    transition: 1s;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none;
}

nav.active {
    right: 1.5vw;
  }

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    overflow: hidden;
}
nav ul li {
    margin: 2px;
    overflow: hidden;
    padding: 15px 5px 15px 5px;
}

nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 10px;
    transition: .8s;
    overflow: hidden;
}

 .underline1, .underline2 {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 210, 0);
    z-index: -1;
    transition: .8s;
    display: none;
}
.underline1 {
    bottom: 15%;
    left: 100%;
}

.underline2 {
    bottom: 0;
    left: -100%;
}
nav ul li a:hover .underline1{
    left: 0;
}
nav ul li a:hover .underline2{
    left: 0;
}
nav ul li a:hover {
    color: white;
    text-shadow: 2px 3px black;
}

.container {
    display: block;
    margin-top: 15vh;
    max-width: 100%;
    text-align: center;
}
.container img {
    display: none;
    border: none;
}
.services {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: 1.5s;
}

.services.active {
    width: 61vw;
    transition: 0.5s;
  }

.services li {
    display: inline-block;
    font-size: 12px;
    padding: 6px;
    margin: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
}

.banner, .banner2 {
    width: 100%;
    margin-top: 5vh;
    padding: 3vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #000;
    border: 4px #fff solid;
    border-left: none;
    border-right: none;
}

.banner span {
    font-size: 1.3em;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-bottom: #fff 4px solid;
}

.disco, .cat, .majster, .map {
    border-top: #fff 4px solid;
}

.rangeofservices, .rangeofservices2 {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(auto, minmax(0, 1fr));
    gap: 15px;
    font-size: 9px;
    margin: auto;
    margin-bottom: 4px;
    transition: .5s;
    text-align: center;
}


.rangeofservices div, .rangeofservices2 div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.85);
    border-style: solid;
    border-color: #fff;
    border-radius: 5px;
    border-width: 1px;
}

.about {
    height: fit-content;
    width: 100%;
    margin-top: -4px;
    text-align: center;
    background-color: rgba(0,0,0);
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
}

.about h1 {
    font-size: 24px;
}

.about p {
    margin: 2%;
    color:rgb(255, 255, 255);
    font-size: 14px;
}

.swiper-container {
    display: block;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg,rgb(0,0,0),rgba(255, 208, 0, 0.6),rgb(0, 0, 0));
}

.swiper {
    height: 100%;
}

.swiper-slide img {
    position: static;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border: none;
}
.swiper .swiper-button-next, .swiper .swiper-button-prev {
    color: #fff;
}
.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.banner2 {
    margin-top: -4px;
    border-bottom: none;
    font-size: 22px;
}

.map iframe {
    width: 100%;
    height: 50vh;
}

.footerspace {
    height: 10vh;
    background-color: #000;
    margin-top: -4px;
}
footer {
    position: fixed;
    display: flex;
    width: 50%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.65);
    bottom: 0;
    text-align: center;
    align-items: center;
    border-color: rgba(255, 210, 0, 0.7);
    border-top-style: dashed;
    z-index: 1;
    overflow: hidden;
}

footer p {
    opacity: 0.7;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer1 {
    border-right-style: double;
    border-right-width: 1vw; 
    font-size: 4px;
}

.footer2 {
    font-size: 9px;
    right: 0;
    border-left-style: double;
    border-left-width: 1vw; 
    justify-content: center;
}

@media  screen and (min-width: 320px) and (orientation: portrait) {
    nav ul li a {
        font-size: 12px;
    }
}

@media screen and (min-width: 414px) and (orientation: portrait) {
    nav ul li a{
        font-size: 14px;
    }

        .rangeofservices div, .rangeofservices2 div, footer p {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
    .services li{
        font-size: 1.4em;
        margin: 8px;
        padding: 12px;
    }
    
    .bar {
        width: 60px;
        height: 8px;
        margin: 6px auto;
    }

    .burgerbars.active .bar:nth-child(2) {
        transform: translateX(-300%);
      }
     
      .burgerbars.active .bar:nth-child(1) {
        transform: translateY(14px) rotate(135deg);
      }
      
      .burgerbars.active .bar:nth-child(3) {
        transform: translateY(-14px) rotate(-135deg);
      }

    nav ul li {
        margin: 12px;
    }

    nav ul li a{
        font-size: 22px;
    }

    .banner {
        margin-top: 0;
    }
    .banner, .banner2 {
        font-size: 30px;
    }
    .rangeofservices, .rangeofservices2 {
        font-size: 14px;
    }
    .about h1{
        font-size: 40px;
    }
    .about p {
        font-size: 20px;
    }
    .footer1 p, .footer2 p {
        font-size: 1.8em;
    }
}

@media screen and (min-width: 720px) and (orientation: portrait) {
    .logo{
        margin-top: 5vh;
    }
    .burgerbars {
        top: 20vh;
    }
    nav {
        top: 28vh;
    }
    nav ul li {
        margin: 10px;
        padding: 12px;
    }
}

@media screen and (min-width: 1000px) and (orientation: portrait) {
    .logo, .burgerbars {
        display: none;
    }
    header {
        display: block;
        margin: 5vw;
    }
    .best, .service {
        font-size: 200%;
    }
    .underline1, .underline2 {
        display: block;
     }
    nav {
        position: sticky;
        float: right;
        top: 0;
        margin-right: 1vw;
        width: 90%;
        max-width: 90%;
    }
    nav ul {
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }
    nav ul li {
        padding: 1vw;
        margin: 1vw;
    }
    nav ul li a {
        font-size: 2.5vw;
    }
    .services {
        max-width: 90%;
        margin-left: 5vw;
        font-size: 2vw;
        padding: 5vw;
    }
    .services li {
        padding: 2vw;
        margin: 1vw;
        border-radius: 50px;
    }
    .banner, .banner2 {
        font-size: 4vw;
    }
    .rangeofservices, .rangeofservices2 {
        width: 100%;
        padding: 5vw;
        gap: 3vw;
    }
    .rangeofservices div, .rangeofservices2 div {
        font-size: 3vw;
    }
    .about h1 {
        font-size: 10vw;
    }
    .about p {
        font-size: 4vw;
    }
    .footer1 p {
        font-size: 4em;
    }
    .footer2 p {
        font-size: 3em;
    }
}

@media screen and (min-width: 300px) and (orientation: landscape) {
    .logo img{
        width: 60vw;
    }
    .burgerbars {
        top: 60px;
        width: 40px;
        height: 40px;
        padding: 7px;
    }
    .bar {
        width: 20px;
        height: 2px;
    }
     
    .burgerbars.active .bar:nth-child(1) {
        transform: translateY(5px) rotate(135deg);
    }
      
    .burgerbars.active .bar:nth-child(3) {
        transform: translateY(-5px) rotate(-135deg);
    }
    .services {
        max-width: 60vw;
    }
    .services li{
        margin: 2px;
        font-size: 10px;
    }
    nav {
        top: 40vh;
    }
    nav ul li{
        padding: 5px;
    }
    footer {
        height: 14vh;
        background-color: #000;
    }
    .footerspace {
        height: 14vh;
    }
    .footer1 {
        font-size: 3px;
    }
    .footer2 {
        font-size: 7px;
    }
    footer p {
        color: rgb(255, 210, 0);
    }
}
@media screen and (min-width: 500px) and (orientation: landscape) {
    .logo {
        margin-bottom: 70px;
    }
    .burgerbars {
        top: 35px;
    }
    nav {
        top: 110px;
    }
    nav ul li{
        padding: 5px;
        padding-left: 16px;
        padding-right: 16px;
    }
    nav ul li a {
        font-size: 14px;
    }
    .services {
        max-width: 100vw;
    }
    footer {
        height: 50px;
    }
    .footerspace {
        height: 50px;
    }
    .footer1 p {
        font-size: 6px;
    }
    .footer2 p {
        font-size: 10px;
    }
}
@media screen and (min-width: 640px) and (orientation: landscape) {
    .logo img{
        margin-left: 5vh;
    }
    footer {
        height: 70px;
    }
    .services.active {
        width: 70vw;
    }
    nav {
        top: 82px;
    }
    nav ul li {
        padding: 9px;
    }
    .rangeofservices div, .rangeofservices2 div {
        font-size: 14px;
    }
}
@media screen and (min-width: 658px) and (max-height:320px) and (orientation: landscape) {
    footer {
        height: 50px;
    }
    .footerspace {
        height: 50px;
    }
}
@media screen and (min-width: 800px) and (orientation: landscape) {
    .logo img {
        width: 40vw;
    }
    .services li{
        margin: 3px;
        font-size: 18px;
    }
    .burgerbars{
        height: 50px;
        width: 60px;
        padding: 6px;
    }
    .bar {
        width: 40px;
        height: 3px;
        margin: 5px auto;
    }
    .burgerbars.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(405deg);
    }
    .burgerbars.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-405deg);
    }
    nav {
        top: 100px;
    }
    nav ul li {
        padding: 10px;
    }
    nav ul li a{
        font-size: 18px;
    }
    .rangeofservices div, .rangeofservices2 div {
        font-size: 20px;
    }
    .about h1{
        font-size: 40px;
    }
    .about p {
        font-size: 20px;
    }
    .footer1 p {
        font-size: 8px;
    }
    .footer2 p {
        font-size: 14px;
    }
}
@media screen and (min-width: 1000px) and (orientation: landscape) {
    .logo, .burgerbars {
        display: none;
    }
    header {
        display: block;
        margin: 2vw;
    }
    .best, .service {
        font-size: 150%;
    }
    .underline1, .underline2 {
        display: block;
     }
    nav {
        position: sticky;
        float: right;
        top: 0;
        margin-right: 1vw;
        width: 70vw;
        max-width: 90vw;
    }
    nav ul {
        flex-direction: row;
        padding: 0;
        justify-content: center;
    }
    nav ul li {
        padding: 1vw;
        margin: 1vw;
    }
    nav ul li a {
        font-size: 1.8vw;
    }
    .services {
        max-width: 90vw;
        margin-left: 5vw;
        font-size: 2vw;
        padding: 5vw;
    }
    .services li {
        padding: 2vw;
        margin: 0.5vw;
        border-radius: 50px;
    }
    .banner, .banner2 {
        font-size: 36px;
    }

    .rangeofservicescontainer, .rangeofservices2container {
        position: relative;
}
    .rangeofservices, .rangeofservices2 {
        position: absolute;
        left: 5vw;
        top: 5%;
        height: 90%;
        gap: 30px;
    }
    .rangeofservices div, .rangeofservices2 div {
        background-color: rgba(0,0,0, 0.6);
        font-size: 30px;
        border-radius: 30px;
    }
    .footerspace {
        height: 13vh;
    }
    footer {
        height: 13vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .footer1 p {
        font-size: 12px;
    }
    .footer2 p {
        font-size: 20px;
    }
}
@media screen and (min-width: 1280px) and (orientation: landscape) {
    header {
        top: 0;
        position: sticky;
        z-index: 1;
    }
    .best, .service {
        font-size: 120%;
    }
    nav {
        width: 50vw;
        margin-top: -5vh;
        border-width: 1px;
    }
    nav ul li {
        padding: 2px;
    }
    nav ul li a{
        font-size: 18px;
    }
    img {
        max-width: 80vw;
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
    }
    .container {
        margin-top: 30vh;
    }
    .services {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .services li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        height: 10vw;
        margin: 1vw;
        font-size: 26px;
        border-width: 1px;
    }
    .services img {
        display: block;
        position: absolute;
        z-index: -1;
        max-width: 100vw;
        width: 100%;
        left: 0;
        filter: sepia(50%) contrast(1.5);
    }
    .banner, .banner2, .map {
        border-width: 8px;
    }
    .rangeofservicesflex {
        display: flex;
        max-width: 100vw;
    }
    .rangeofservicesflex img {
        width: 100%;
        border: none;
    }
    .rangeofservices, .rangeofservices2 {
        width: 80%;
        left: 10%;
        height: 80%;
        top: 10%;
    }
    .rangeofservices div, .rangeofservices2 div{
        font-size: 16px;
    }
    .cat {
        width: 50%;
        height: 37.5vw;
        margin: 0;
        float: left;
        border-left: none;
        border-right: none;
        padding: 0;
    }
    .about {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 37.5vw;
        margin: 0;
        padding: 0;
        line-height: 2vw;
        letter-spacing: 0.2vw;
    }
    .majster {
        border-left: none;
        border-right: none;
        max-width: 100vw;
        width: 100%;
        height: 80vh;
        object-fit: cover;
        filter: sepia(65%) contrast(1.2) brightness(1.1);
    }
}
@media screen and (min-width: 1440px) and (orientation: landscape) {
    .services li {
        height: 5vw;
    }
    footer {
        height: 8vh;
    }
    .footer2 p{
        font-size: 14px;
    }
    .footerspace {
        height: 8vh;
    }
}
@media screen and (min-width: 1920px) and (orientation: landscape) {
    .best, .service {
        font-size: 170%;
    }
    nav ul {
        justify-content: space-around;
    }
    .rangeofservices div, .rangeofservices2 div {
        font-size: 24px;
    }
    
    .footer2 p {
        font-size: 20px;
    }
}

@media screen and (min-width: 3000px) {
    .best, .service, nav>ul>li>a, .about p {
        font-size: 300%;
    }
    .banner, .banner2, .rangeofservices div, .rangeofservices2 div, .about h1{
        font-size: 500%;
    }
    .services li {
        font-size: 80%;
    }
    .footer1 p {
        font-size: 1000%;
    }
    .footer2 p {
        font-size: 500%;
    }
}
